body {
    background : aliceblue;
    color: #333;
}
/* .card-title {
    background: #333;
    color: whitesmoke;
}
.card-link {
    background: lightseagreen;
    color: aliceblue;

} */
/* .fond_orange {
    background: orangered;
}
.fond_bleu {
    background: lightblue;
} */