body {
    background : rgb(248, 243, 225);
    color: #333;
}

.carousel-caption {
    background-color: rgba(249, 252, 252, 0.007)
}
/* .card-title {
    background: #333;
    color: whitesmoke;
}
.card-link {
    background: lightseagreen;
    color: aliceblue;

} */
/* .fond_orange {
    background: orangered;
}
.fond_bleu {
    background: lightblue;
} */
